<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Price Results</title>

</head>
<body>

<h1>Postal Rate Price</h1>

<p>The price of "<%= postage %>" at <%= weight %> ounce(s) is: $<%= price %></p>

</body>
</html>